<div class="flex-container">
  <div class="left-container">
    <div class="image-container">
      <img src="../../assets/map.png" alt="Map" (click)="moveAvatar()" />
      <div
        class="avatar"
        [style.transform]="
          'translate(' + position.x + 'px, ' + position.y + 'px)'
        "
      >
        <img src="../../assets/character.svg" alt="Avatar" />
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="story" *ngIf="showStory">
      <button class="image-button" (click)="closeStory()"></button>

      <!-- Add left and right navigation buttons -->
      <button class="nav-button left-button" (click)="nextSlide(-1)">&#8249;</button>
      <button class="nav-button right-button" (click)="nextSlide(1)">&#8250;</button>

      <img [src]="imageUrl" alt="Story" />
      <p>{{ storyTitle }}</p>
      <p>{{ storyText }}</p>
    </div>


    <div class="button-container" *ngIf="!showStory && !showDailyQuests">
      <button class="blue-button" (click)="showDailyQuests = true">
        Daily Quests
      </button>
      <button class="green-button">Journey</button>
    </div>

    <app-daily-quests
      [showDailyQuests]="showDailyQuests"
      (showDailyQuestsChange)="setDailyQuests($event)"
    >
    </app-daily-quests>
  </div>
</div>
