/* Add styles for the .daily-quests container */
.daily-quests {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

/* Add styles for the list of quests */
.quests-list {
  list-style-type: none;
  padding: 0;
}

/* Add styles for each quest item */
.quest-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  //background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease; /* Hover effect */
}

/* Add styles for quest type colors */
.quest-item.fire {
  color: white;
}

.quest-item.water {
  color: white;
}

.quest-item.earth {
  color: white;
}

.quest-item.air {
  color: white;
}

/* Add more quest type colors as needed */

/* Add styles for quest details (checkbox, title, description) */
.quest-details {
  flex-grow: 1;
}

/* Add styles for the checkbox */
.quest-details input[type="checkbox"] {
  margin-right: 10px;
}

/* Add styles for completed quests */
.quest-details .completed {
  text-decoration: line-through;
  color: #888;
}

/* Add hover effect */
.quest-item:hover {
  transform: scale(1.02);
}

.close-button {
  width: 30px; /* Set the width of your button */
  height: 30px; /* Set the height of your button */
  background-image: url("../../assets/cancel-button.png"); /* Specify the image URL */
  background-size: cover; /* Adjust how the image covers the button */
  background-repeat: no-repeat; /* Prevent image repetition */
  border: none; /* Remove the default button border */
  cursor: pointer; /* Add a pointer cursor on hover for a clickable feel */
  //float: right;
}
