.daily-quests {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.quests-list {
  list-style-type: none;
  padding: 0;
}

.quest-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.quest-item.fire {
  color: white;
}

.quest-item.water {
  color: white;
}

.quest-item.earth {
  color: white;
}

.quest-item.air {
  color: white;
}

.quest-details {
  flex-grow: 1;
}

.quest-details input[type="checkbox"] {
  margin-right: 10px;
}

.quest-details .completed {
  text-decoration: line-through;
  color: #888;
}

.quest-item:hover {
  transform: scale(1.02);
}

.close-button {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/cancel-button.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
