<div class="character-container">
  <h2>Your Fitopia Character</h2>
  <div class="character-avatar">
    <img src="assets/lily.jpg" alt="Character Avatar" />
  </div>
  <div class="character-stats">
    <p>Name: {{ character.name }}</p>
    <p>Level: {{ character.level }}</p>
    <p>Health: {{ character.health }}%</p>
    <p>Total Points: {{ character.points }}</p>
    <p>Total Steps Today: {{ totalSteps }}</p>
  </div>

  <div class="progress-bar">
    <circle-progress
      [percent]="calcDashOffset()"
      [radius]="50"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</div>
